.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 60px;
    background: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

/* Logo */

.logo {
    font-size: 22px;
    font-weight: bold;
    display: flex;
    gap: 6px;
}

.logo-main {
    color: #0b6fa4;
}

.logo-and {
    color: #999;
}

.logo-sub {
    color: #666;
}

/* Nav */

.nav {
    display: flex;
    gap: 35px;
}

.nav a {
    text-decoration: none;
    color: #666;
    font-size: 15px;
}

.nav a:hover {
    color: black;
}

/* Button */

.login-btn {
    background: #ff8a00;
    color: white;
    border: none;
    padding: 10px 22px;
    border-radius: 20px;
    cursor: pointer;
}

/* Hamburger */

.hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

/* 📱 Mobile Responsive */

@media (max-width: 768px) {
    .header {
    padding: 10px;    
    }

    .nav {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #f4f4f4;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px 0;
        display: none;
    }

    .logo {
        font-size: 12px;

    }

    .nav.active {
        display: flex;
    }

    .login-btn {
        display: none;
    }

    .hamburger {
        display: block;
    }

}